

/* BARRA DE NVEGACION */
#navegacion{
    width: 100%;
    height: 50px;
    background-color: #3d3d3d;
    box-shadow:  10px 5px 5px #7a7a7a;
}
/* #navegacion h1{
    color: white;
    text-transform: uppercase;
    width: 30%;
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
} */
.menu-usuario{  
    float: right;  
    width: 25%;     
    text-decoration: none; 
    list-style: none;
   
}
.menu-usuario li {          
    line-height: 50px;
    float: left;
    margin-right: 5px;   
}    
li >img{    
    width: 50px;
    height: 50px; 
    float: left;   
}


.menu-usuario li a{        
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    transition: all 300ms;
}

.menu-usuario li:hover{
    background-color: #7a7a7a;  
}
/* .menu-usuario li{
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-usuario li:first-child{
    
}

.menu-usuario ul li{
    display: inline;

}
 */
#seccion{    
    width: 100%; 
    height: 100%;  
    background-color: white;    
    box-shadow:  10px 5px 5px #7a7a7a;    
}
.cont-button{       
    width: 90%;    
    margin-left: auto !important;
    margin-right: auto !important;
    
}
#btn-agregar{
    float:right;    
    border: none;    
    width: 100px;
    height: 30px; 
    background-color: #00acf0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: .5em ;
    margin-top: 20px;
    margin-bottom: 15px;
    
} 

#btn-agregar:hover{
    background-color:  #3d3d3d;
    cursor: pointer;
    color: white;

}

/* TABLAS */


#tbl{
    clear: both;
    float: none;
    overflow: auto;
    scrollbar-width: 5px;
    width: 90%;  
    height: 500px;  
    margin-left: auto;
    margin-right: auto;   
    background-color: #c6f2ff;
}


#titulos{        
    box-shadow:  4px px 5px #7a7a7a;    
}

table #titulos th{             
    padding: 5px;    
    height: 35px;    
    text-transform: uppercase;
    font-size: 14px;
    background-color: #3d3d3d;
    color: white;
    width: 300px;   
}


#tbl-datos{
    background-color:white;   
}

#tbl-datos td{   
    color: black;
    text-align: left;
    padding: 3px;
    padding-left: 10px;
    border-radius: .4em;        
}

#tbl-datos td:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 10px 2px #7a7a7a;    
    color: #32add3;
}

.opcion-tbl{
    text-align: center;
}
.opcion-tbl img{
    width: 20px;
    height: 20px;
}    