
#seccion{    
    width: 100%; 
    height: 100%;  
    background-color: white;    
    box-shadow:  10px 5px 5px #7a7a7a;    
}
.cont-button{       
    width: 90%;    
    margin-left: auto !important;
    margin-right: auto !important;
    
}
#btn-agregar{
    float:right;    
    border: none;    
    width: 100px;
    height: 30px; 
    background-color: #00acf0;  
    font-size: 16px;
    text-transform: uppercase;
    border-radius: .5em ;
    margin-top: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 10px;
} 

#btn-agregar:hover{
    background-color:  #3d3d3d;
    cursor: pointer;
    color: white;

}

.in-busqueda{
    width: 90%;
    display: block;
    clear: both;
    background-color: #3d3d3d;
    margin: 10px;
    margin-left: auto;
    margin-right:auto ;
    padding: 3px;
    height: 40PX;
    
}

/* TABLAS */


#tbl{
    clear: both;
    float: none;
    overflow: auto;
    scrollbar-width: 5px;
    width: 90%;  
    height: 500px;  
    margin-left: auto;
    margin-right: auto;   
    background-color: #c6f2ff;
}


#titulos{        
    box-shadow:  4px px 5px #7a7a7a;    
}

table #titulos th{             
    padding: 5px;    
    height: 35px;    
    text-transform: uppercase;
    font-size: 14px;
    background-color: #3d3d3d;
    color: white;
    width: 300px;   
}


#tbl-datos{
    background-color:white;   
}

#tbl-datos td{   
    color: black;
    text-align: left;
    padding: 3px;
    padding-left: 10px;
    border-radius: .4em;        
}

#tbl-datos td:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 10px 2px #7a7a7a;    
    color: #32add3;
}

.opcion-tbl{
    text-align: center;
}


.opcion-tbl img{
    width: 20px;
    height: 20px;
}    