
#seccion{    
    width: 100%; 
    height: 100%;  
    background-color: white;    
    box-shadow:  10px 5px 5px #7a7a7a;    
}
.cont-button{       
    width: 90%;    
    margin-left: auto !important;
    margin-right: auto !important;
    
}
#btn-agregar{
    float:right;    
    border: none;    
    width: 100px;
    height: 30px; 
    background-color: #00acf0;  
    font-size: 16px;
    text-transform: uppercase;
    border-radius: .5em ;
    margin-top: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 10px;
} 

#btn-agregar:hover{
    background-color:  #3d3d3d;
    cursor: pointer;
    color: white;

}

.in-busqueda{
    width: 50%;
    height: 50PX;
    display: block;
    clear: both;
    background-color: #3d3d3d;    
    margin-left: auto;
    margin-right:auto ;     
    border-radius: .5em !important; 
    padding: 10px;
    margin-bottom: 15px;
    
}
#op-busqueda{
    float: left;  
    width: 80%;
    height: 100%;
}
#op-busqueda h3{   
    margin-bottom: 5px;
}
#op-busqueda select{
    border-radius: .6em;
    margin-right: 5px;     
    border: solid 1px #3d3d3d;
    width:15%;
    float: left;
    
}
#op-busqueda label{
    margin-left: 20px;
    float: left;
}
#op-busqueda select:focus{   
    outline: none; 
    border: solid 2px aquamarine
}

#op-busqueda select:hover{    
    border: solid 2px aquamarine
}

.btn{   
    border: none;     
    background-color: #00acf0;   
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: .5em ;    
    width:20%;
    height: 20px;  
    outline: none; 
}

.btn:hover{           
    background-color: aquamarine;   
  
}

#exportar{
    float: right;    
    display: block;
    width: 20%;
    height: 100%;  
    text-align: center;
    
}

#exportar button{
    width: 90%;
    background-color: aquamarine;
    position: static;
    bottom: 0px;
    height: 100%;
}

#exportar button:hover{
    width: 90%;
    background-color: #00acf0;
    
}

/* TABLAS */


#tbl{
    clear: both;
    float: none;
    overflow: auto;
    scrollbar-width: 5px;
    width: 90%;  
    height: 500px;  
    margin-left: auto;
    margin-right: auto;   
    background-color: #c6f2ff;
}


#titulos{        
    box-shadow:  4px px 5px #7a7a7a;
    
}

table #titulos th{             
    padding: 5px;    
    height: 20px;    
    text-transform: uppercase;
    font-size: 14px;
    background-color: #3d3d3d;
    color: white;
    width: 300px; 
    position: sticky;
    top: 0;
    max-height: 30px;
}


#tbl-datos{
    background-color:white;   
}

#tbl-datos td{   
    color: black;
    text-align: left;
    padding: 3px;
    padding-left: 10px;
    border-radius: .4em;        
}

#tbl-datos td:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 10px 2px #7a7a7a;    
    color: #32add3;
}

.opcion-tbl{
    text-align: center;
}


.opcion-tbl img{
    width: 20px;
    height: 20px;
} 
tfoot{      
    padding: 0px; 
}   

tfoot td[class*='t-num']{    
    color: #3d3d3d;
    text-align: left;
    padding: 3px;
    padding-left: 10px;
    border-radius: .4em; 
    font-size: 20px;
    font-weight: bold;
}


tfoot td[class*='t-num']:hover{
    box-shadow: 0px 0px 10px 2px #7a7a7a;    
    color: #32add3;
}