{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
<script>
    $(document).ready(function () {
        sumarColumna("importe-isr", "total-isr");
        sumarColumna("importe-total", "total-transf");
    });



</script>


<section id="seccion">
    {% if messages %}
    {% for mensaje in messages %}
    {% if mensaje.tags == 'success' %}
    <div class="aviso verde">
        {{mensaje}}
    </div>
    {% endif %}
    {% if mensaje.tags == 'error' %}
    <div class="aviso rojo">
        {{mensaje}}
    </div>
    {% endif %}
    {% endfor%}
    {% endif %}
    <div class="cont-button">
        <button class="btn-agregar" onclick="entrarOverlay()">AGREGAR + </button>
    </div>
    
    <div id="overlay" class="no-mostrar">
        <div id="conte-btn-cerrar">
            <button type="button" class="btn-cerrar" onclick="salirOverlay()">X</button>
        </div>
        <div id="conte-menu">
            <div class="opcion-recop">
                <h3 class="titulo-opcion">ORDEN DE PAGO</H3>
                <a class="btn-accion" href="{% url 'agregar_datos' %}" class=" btn-opcion">
                    Cargar
                </a>

            </div>
            <div class="opcion-recop">
                <h3 class="titulo-opcion">ARCHIVO DE RECALCULO</H3>
                <a onclick="" class="btn-accion" href="{% url 'agregar_datos' %}" class=" btn-opcion">
                    Cargar
                </a>
            </div>
            <div class="opcion-recop">
                <h3 class="titulo-opcion">REPORTE TIMBRADO</H3>
                <a class="btn-accion" href="{% url 'agregar_datos' %}" class=" btn-opcion">
                    Cargar
                </a>

            </div>
        </div>
    </div>

    <div id="tablas">
        
        <div class="conte-tbl-concentrado">
            <table>
                <div class="titulo-tbl">
                    <a>TIMBRADO</a>
                </div>               
                <thead>
                    <tr class="titulos-concentrado">
                        <th>PERIODO</th>
                        <th>NOMINA</th>
                        <th>IMPUESTOS RETENIDOS</th>
                        <th>TOTAL PAGADO</th>
                    </tr>
                </thead>
                <tbody class="tbl-datos-concentrado">                   
                    {% for timbrado in datos.timbrado %}
                        <tr class="fila-datos">
                            <td>{{timbrado.periodo}}</td>
                            <td>{{timbrado.nombre}}</td>
                            <td class="importe-isr">{{timbrado.importe_isr}}</td>
                            <td class="importe-total">00.00</td>                             
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="tbl-totales-concentrado" id="t-timbrado">
                        <tr class="fila-totales">
                            <td></td>
                            <td></td>
                            <td class="celda-totales total-isr"></td>
                            <td class="celda-totales total-transf"></td>
                        </tr>
                </tfoot>
            </table>
            <div class="leer-mas">
                <a href="">Mas...</a>
            </div>
        </div>
        
        <div class="conte-tbl-concentrado">
            <table>
                <div class="titulo-tbl">
                    <a>ARCHIVO RECALCULO IMMS</a>
                </div>               
                <thead>
                    <tr class="titulos-concentrado">
                        <th>PERIODO</th>
                        <th>CONTROL</th>
                        <th>TIPO DE NOMINA</th>
                        <th>IMPORTE</th>
                    </tr>
                </thead>
                <tbody class="tbl-datos-concentrado">                   
                    {% for registro in datos.recalculo %}
                        <tr class="fila-datos">
                            <td>{{registro.periodo}}</td>
                            <td>{{registro.control}}</td>
                            <td>{{registro.tipo_nom}}</td>
                            <td>{{registro.imp_recalc_red}}</td>                                        
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="tbl-totales-concentrado" id="t-timbrado">
                        <tr class="fila-totales">
                            <td></td>
                            <td></td>
                            <td class="celda-totales"></td>
                            <td class="celda-totales"></td>
                        </tr>
                </tfoot>
            </table>
            <div class="leer-mas">
                <a href="">Mas...</a>
            </div>
        </div>

        <div class="conte-tbl-concentrado">
            <table>
                <div class="titulo-tbl">
                    <h2>TIMBRADO</h2>
                </div>               
                <thead>
                    <tr class="titulos-concentrado">
                        <th>PERIODO</th>
                        <th>NOMINA</th>
                        <th>IMPUESTOS RETENIDOS</th>
                        <th>TOTAL PAGADO</th>
                    </tr>
                </thead>
                <tbody class="tbl-datos-concentrado">                   
                    {% for timbrado in datos.timbrado %}
                        <tr class="fila-datos">
                            <td>{{timbrado.periodo}}</td>
                            <td>{{timbrado.nombre}}</td>
                            <td class="importe-isr">{{timbrado.importe_isr}}</td>
                            <td>0.00</td>                             
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="tbl-totales-concentrado" id="t-timbrado">
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="num-suma"></td>
                            <td class="num-suma"></td>
                        </tr>
                </tfoot>
            </table>
            <div class="leer-mas">
                <a href="">Mas...</a>
            </div>
        </div>
        <div class="conte-tbl-concentrado">
            <table>
                <div class="titulo-tbl">
                    <h2>TIMBRADO</h2>
                </div>               
                <thead>
                    <tr class="titulos-concentrado">
                        <th>PERIODO</th>
                        <th>NOMINA</th>
                        <th>IMPUESTOS RETENIDOS</th>
                        <th>TOTAL PAGADO</th>
                    </tr>
                </thead>
                <tbody class="tbl-datos-concentrado">                   
                    {% for timbrado in datos.timbrado %}
                        <tr class="fila-datos">
                            <td>{{timbrado.periodo}}</td>
                            <td>{{timbrado.nombre}}</td>
                            <td class="importe-isr">{{timbrado.importe_isr}}</td>
                            <td>0.00</td>                             
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="tbl-totales-concentrado" id="t-timbrado">
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="num-suma"></td>
                            <td class="num-suma"></td>
                        </tr>
                </tfoot>
            </table>
            <div class="leer-mas">
                <a href="">Mas...</a>
            </div>
        </div>
    </div>

    
</section>
{% endblock %}