{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
<script>
    $(document).ready(function () {
        var total_col1 = 0;
        var total_col2 = 0;

        $('#table_nom #tbl-datos').find('tr').each(function (i, el) {

            total_col1 += parseFloat($(this).find('td').eq(6).text());
            total_col2 += parseFloat($(this).find('td').eq(7).text());


        });

        console.log(total_col2);

        if (isNaN(total_col2)) {
            $('#table_nom tfoot tr td').eq(6).text("" + total_col1);
            $('#table_nom tfoot tr td').eq(7).text("" + '0.00');
        }
        else {
            $('#table_nom tfoot tr td').eq(6).text("" + total_col1);
            $('#table_nom tfoot tr td').eq(7).text("" + total_col2);
        }


        var height = $(window).height();

        $('#seccion').height(height);
    });



</script>


<section id="seccion">
    {% if messages %}
    {% for mensaje in messages %}
    {% if mensaje.tags == 'success' %}
    <div class="aviso verde">
        {{mensaje}}
    </div>
    {% endif %}
    {% if mensaje.tags == 'error' %}
    <div class="aviso rojo">
        {{mensaje}}
    </div>
    {% endif %}
    {% endfor%}
    {% endif %}
    <div class="cont-button">
        <button class="btn-agregar" onclick="entrarOverlay()">AGREGAR + </button>
    </div>

    <div id="overlay" class="no-mostrar">
        <div id="conte-btn-cerrar">
            <button type="button" class="btn-cerrar" onclick="salirOverlay()">X</button>
        </div>
        <div id="conte-menu">
            <div class="opcion-recop">
                <h3 class="titulo-opcion">ORDEN DE PAGO</H3>
                <a class="btn-accion" href="{% url 'agregar_datos' %}" class=" btn-opcion">
                    Cargar
                </a>

            </div>
            <div class="opcion-recop">
                <h3 class="titulo-opcion">ARCHIVO DE RECALCULO</H3>
                <a onclick="" class="btn-accion" href="{% url 'agregar_datos' %}" class=" btn-opcion">
                    Cargar
                </a>
            </div>
            <div class="opcion-recop">
                <h3 class="titulo-opcion">REPORTE TIMBRADO</H3>
                <a class="btn-accion" href="{% url 'agregar_datos' %}" class=" btn-opcion">
                    Cargar
                </a>

            </div>
        </div>
    </div>

    <div id="tbl">
        <div id="titulo-tbl">
            <h2>SAT VS HAP</h2>
        </div>
        <table id="table_conciliacion">
            <tr class="titulos">
                <th>TIPO TIMBRADO</th>
                <th>DESCRIPCION</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
            </tr>
            <tbody id="tbl-datos">

                <tr class="filas">
                    <td class="fila-fija">TIMBRADO</td>
                </tr>
                <tr class="filas">

                </tr>
                <tr class="filas">

                </tr>
                <tr class="filas">

                </tr>
                <tr class="filas">

                </tr>
                <tr class="filas">

                </tr>
            </tbody>
            {% if nominas%}
            <tfoot>
                <tr>
                    <td class="t-num">Totales</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="t-num"> </td>
                    <td class="t-num"> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
</section>
{% endblock %}